
/* FONTS */
html {
  scroll-behavior: smooth;
}

html, body {
    height:100%;
} 

* { box-sizing: border-box; }


@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro/ApercuPro-Medium.eot');
    src: local('Apercu Pro Medium'), local('../fonts/ApercuPro/ApercuPro-Medium'),
        url('../fonts/ApercuPro/ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ApercuPro/ApercuPro-Medium.woff2') format('woff2'),
        url('../fonts/ApercuPro/ApercuPro-Medium.woff') format('woff'),
        url('../fonts/ApercuPro/ApercuPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro/ApercuPro-Black.eot');
    src: local('Apercu Pro Black'), local('../fonts/ApercuPro/ApercuPro-Black'),
        url('../fonts/ApercuPro/ApercuPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ApercuPro/ApercuPro-Black.woff2') format('woff2'),
        url('../fonts/ApercuPro/ApercuPro-Black.woff') format('woff'),
        url('../fonts/ApercuPro/ApercuPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro/ApercuPro-Bold.eot');
    src: local('Apercu Pro Bold'), local('../fonts/ApercuPro/ApercuPro-Bold'),
        url('../fonts/ApercuPro/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ApercuPro/ApercuPro-Bold.woff2') format('woff2'),
        url('../fonts/ApercuPro/ApercuPro-Bold.woff') format('woff'),
        url('../fonts/ApercuPro/ApercuPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Apercu Pro';
    src: url('../fonts/ApercuPro/ApercuPro-Regular.eot');
    src: local('Apercu Pro Regular'), local('../fonts/ApercuPro/ApercuPro-Regular'),
        url('../fonts/ApercuPro/ApercuPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ApercuPro/ApercuPro-Regular.woff2') format('woff2'),
        url('../fonts/ApercuPro/ApercuPro-Regular.woff') format('woff'),
        url('../fonts/ApercuPro/ApercuPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Source Sans Pro Black;';
	src:  local('Source Sans Pro Black'), local('SourceSansPro-Black'),
	url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro Bold;';
	src:  local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
	url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}



@font-face {
	font-family: 'Source Sans Pro';
	src:  local(Source Sans Pro Regular), local('SourceSansPro-Regular'),
	url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
	font-weight: 400;
}

/*

  @font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Black'), local('Source-Sans-Pro-Black'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.woff') format('woff'),
        url('../fonts/SourceSansPro-Black/SourceSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }


@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Bold'), local('Source-Sans-Pro-Bold'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Regular'), local('Source-Sans-Pro-Regular'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }


@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro Semi Bold'), local('Source-Sans-Pro-Semi-Bold'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.woff') format('woff'),
        url('../fonts/SourceSansPro-SemiBold/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }


*/

body {
	margin: 0px;
	padding: 0;
	background-color: #fff;
}

p {
	margin: 0;
} 

.primary-color {
	color: #B08D51;
}

.primary-bg-color {
	background-color: #B08D51;
}

.secondary-color {
	color: #FFFCDF
}

.secondary-bg-color{
	background-color: #FFFCDF;
}
 


.wrapper {
	display: flex;
}

.left {
	width: calc(100% - 421px);
}

.right {
	width: 421px;
	background-color: #B08D51;
}


.banner {
    background-image: url(../images/banner2.png);
    /*background-position: center center;*/
    background-size: cover;
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: left top;
}

.bannerContent {
	max-width: 855px;
	margin: 0 auto;
}

.logo {
	padding-top: 60px;
}

.banner h1 {
	font-size: 8.750em;
	text-align: center;
	font-family: "Source Sans Pro Black", sans-serif;
	color: #FFFCDF;
	margin-top: 100px;
	margin-bottom: 0;
	letter-spacing: 9.9px;
}

.titleBanner {
	 font-size: 2em;
	 color: #FFFFFF; 
	 letter-spacing: 3.73px; 
	 text-align: center;
	 font-family: "Source Sans Pro Black", sans-serif;
}

.description{
	font-size: 1.750em;
	color: #FFF;
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	letter-spacing: 2px;
}

p.description {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 600;
}

.subhead svg {
	text-align: center;
	width: 100%;
	margin-top: 2.2em;
	margin-bottom: 2em;
}

.contentText {
	padding: 0 30px;
}

.subContents {
    padding-left: 30px;
    padding-right: 30px;
}

.sidebarContents {
	padding-top: 4.5em;
	text-align: center;
	max-width: 100%;
	margin: 0 auto;
}

.sidebarContents .link {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.125em;
	text-decoration: underline;
	color: #FFFCDF;
	letter-spacing: 0.97px;
}

.subContents {
	margin-top: 17.125em;
}

.subContents p {
	color:  #FFFCDF;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.5em;
	margin-bottom: 3.313em;
	padding: 0 15px;
	letter-spacing: 0.3px;
}

.clickButton {
	background: #FFFCDF; 
	border-radius: 75px; 
	font-family: "Apercu Pro", sans-serif; 
	font-size: 1.5em;
	font-weight: bold;
	line-height: 26px;
	color: #53514D; 
	text-align: center; 
	text-decoration: none;
	padding: 20px 33px;
	letter-spacing: 1px;
}
.secondText {
	padding-top: 2em !important;
}

.mainContent {
	max-width: 855px;
	margin: 0 auto;
	padding-top: 5.375em;
	text-align: center;
	padding-bottom: 5.375em;
}

.mainContent h1 {
	color: #53514D;
	font-family: "Source Sans Pro Black", sans-serif;
	font-size: 4.063em;
	margin: 0 auto;
	margin-bottom: 38px;
	text-transform: uppercase;
	letter-spacing: 5.86px;
	line-height: 1;
	width: 80%;
}

.mainContent .subDescription {
	color: #53514D;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.750em;
	margin: 0px;
	margin-bottom: 60px;
	letter-spacing: 0.4px;
}

.mainContent .columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 0;
}


.mainContent .column {
	flex: 1;
	padding: 15px;
	width: 30%;
}

.mainContent .column img {
	margin-bottom: 20px;
}

.column .title {
	text-transform: uppercase;
	color: #53514D;
	font-size: 1.7em !important;
	font-family: "Source Sans Pro Black", sans-serif;
	font-weight: bold;
	margin: 0 auto;
	/*min-height: 4.3rem;*/
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

.column .list {
	margin: 0;
	margin-top: 10px;
}

.column .list {
	padding: 0px;
}

.column .list li {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.4em !important;
	color: #53514D;
	font-weight: 400;
	line-height: 1.4;
}

ul.list {
    padding: 0 !important;
}


.line {
    max-width: 855px;
    margin: 0 auto;
}

.line img {
    width: 100% !important;
}

.information {
    margin-top: 40px;
    display: inline-block;
}

.information p {
	font-size: 1.125em;
	font-family: "Source Sans Pro", sans-serif;
	color: #53514D;
	text-align: left;
}

footer {
	padding: 15px 0;
	height: 50px;
	background-color: #53514D;
    margin: 0px auto;
    display: table;
  	table-layout: fixed;
  	width: 100%;
}

footer ul {
	list-style: none;
	display: flex;
  	flex-direction: row;
  	margin: 0;
  	padding: 0;
  	align-items: center;
}

footer ul li {
	text-align: center;
	flex-grow: 1;
}

footer ul li a {
    margin: 0px 10px;
    padding:5px 0;
    border-radius: 5px;
    list-style: none;
  	display: block;
}

footer ul li, footer ul li a {
	color: #FFF;
	font-family: "Source Sans Pro", sans-serif;
}

footer .subMenu {
	display: block;
}

footer {
    position: sticky;
    bottom: 0;
 
}

article.sidebar-item {
    position: fixed;
}


li.menu-item {
	display: table;
	width: 100%;
	padding: 0 20px;
}

li.menu-item:first-child{
	padding-left: 0;
}

li.menu-item:last-child	{
	padding-right: 0;
}

/*.logo img{
	margin-left: 1.25em !important;
} */

ul.subMenu {
	display: table-cell;
	vertical-align: middle;
}


/* .logo {
	margin-left: 1.25em;
}*/


.logo {
	max-width: 90%;
	margin: 0 auto;
}

footer ul.menu {
	max-width: 77%;
	margin:  0 auto;
}

.sub-menu-item p, .sub-menu-item a {
	line-height: 1.8;
	font-size: 11px;
}

.sub-menu-item a {
	padding: 0;
}

h3.title {
	max-width: 230px;
}


.logo img {
	max-width: 150px;/*!important*/
}

.column img {
	max-width: 240px;
}

/*
.menu-item img {
	max-width: 140px;
	max-height: 55px;
}
*/

.columns {
	padding-left: 25px;
	padding-right: 25px;
}


ul.list li {
	list-style: none;
}


.menu-item:first-child img {
	max-width: 162px;
	max-height: 47px;
}

.menu-item:nth-child(3) img {
	max-width: 72px;
	max-height: 72px;
}


.menu-item:nth-child(3) img {
	max-width: 72px;
	max-height: 72px;
}


.menu-item:nth-child(6) img {
	max-width: 65px;
	max-height: 62px;
}

/* sub page */


.subBanner h1 {
	margin-top: 0;
}

.subTitleBanner {
	font-size: 2.563em;
	font-family: 'Source Sans Pro Black', sans-serif;
	text-align: center;
	color: #FFFCDF;
	margin-bottom: 0;
	margin-top: 150px;
	letter-spacing: 6.65px;
	line-height: 55px;
	font-weight: 900;
}

.subBigTitleBanner {
	font-size: 4.313em;
	font-family: 'Source Sans Pro Black', sans-serif;
	text-align: center;
	color: #FFFCDF;
	margin-top: 0;
	letter-spacing: 8.39px;
	line-height: 65px;
	margin-bottom: 23px;
}

.subBanner .titleBanner {
	text-transform: uppercase;
	line-height: 40px;
	letter-spacing: 1.72px;
}

.subBanner p.description {
	max-width: 100%;
	font-size: 1.750em;
	letter-spacing: 1.45px;
	line-height: 40px;
	font-family: 'Source Sans Pro', sans-serif;
}

.mainContent .subDescription {
	margin-bottom: 72px;
}

.subPageContent .mainContent .subDescription span {
	font-family: 'Source Sans Pro Black', sans-serif;
}

.questions {
	text-align: left;
}

.selectAllQuestions .cont{
	font-size: 2em;
	font-family: 'Source Sans Pro Black', sans-serif;
	color: #53514D;
	text-decoration: underline;
	line-height: 29px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.selectAllQuestions label, #selectQuestions label {
	cursor: pointer !important;
}


.selectAllQuestions input[type="checkbox"] {
	margin: 0;
	padding: 0;
	margin-right: 24px;
	transform:  scale(2.0);
}

#selectQuestions .question, .selectDefaultQuestions .question  {
	font-size: 1.5em;
	font-family: 'Source Sans Pro Regular', sans-serif;
	color: #53514D;
	line-height: 22px;
	display: flex;
	align-items: center;
	height: 45px;
}

#selectQuestions .question:last-child, .selectDefaultQuestions .question:last-child {
	margin-bottom: 0;
}

#selectQuestions .question input[type="checkbox"], .selectDefaultQuestions .question input[type="checkbox"] {
	margin: 0;
	padding: 0;
	margin-right: 15px;
	transform: scale(1.5);
}

.firstContent {
	padding-bottom: 110px;
}


.secondContentTitle {
	font-size: 2em;
	font-family: 'Source Sans Pro Black', sans-serif;
	color: #53514D;
	line-height: 40px;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 30px;
}

.addQuestionInput input[type="text"]{
	max-width: 841px;
	width: 100%;
	border: 1px solid #979797;
	padding-bottom: 27px;
	padding-top: 27px;
	text-indent: 55px;
	padding-right: 85px;
	font-size: 27px;
	color: #53514D;
	font-family: 'Source Sans Pro';
	border-radius:  0 50px 50px 0;
}
 

.addQuestionInput input[type="text"]::placeholder {
	font-size: 1.750em;
	font-family: 'Apercu Pro', sans-serif;
	font-size: 27px;
	color: #D8D8D8;
}


.addQuestionInput {
	position: relative;
	display: block;
}


.addButton {
  font-family: 'Apercu Pro Black', sans-serif;	
  color: #FEFBE8;
  height: 57px;
  width: 57px;
  background-color: #53514D;
  border-radius: 100%;
  display: inline-block;
  vertical-align:middle;
  position: absolute;
  left: auto; 
  right: 19px;
  top: 16.5px;
  bottom: 16.5px;
  cursor: pointer;
}

.addButton:before{
    content: '+';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 2px;
    height: 24px;
    font-size: 24px;
}

#error {
	font-family: 'Source Sans Pro Black', sans-serif;
	color: #53514D;
	font-size: 2em;
	margin-top: 25px;
}

.download {
	width: 492px;
	max-width: 100%;
	background-color: #B08D51;
	margin: 0 auto;
	margin-top: 95px;
	padding: 19px;
	border-radius: 50px;
	font-size: 24px;
	font-family: 'Apercu Pro Black', sans-serif;
	letter-spacing: 3px;
	line-height: 26px;
	color: #FEFBE8;
	cursor: pointer !important;
}


.selectAllQuestions label {
	font-size: 32px;
} 


.cont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selectAllQuestions .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid #53514D;
}

.question .cont .checkmark {
	position: absolute;
  	top: 0;
  	left: 0;
	width: 20px;
	height: 20px;
	background-color: white;
  	border: 1px solid #53514D;
}

.cont:hover input ~ .checkmark {
  background-color: white;
  border: 1px solid #53514D;
}

.cont input:checked ~ .checkmark {
  background-color: white;
  border: 1px solid #53514D;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .checkmark:after {
  display: block;
}

.selectAllQuestions .cont .checkmark:after {
  left: 9px;
  top: -9px;
  width: 12px;
  height: 20px;
  border: solid #B08D51;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.question .cont .checkmark:after {
  left: 7px;
  top: -5px;
  width: 7px;
  height: 15px;
  border: solid #B08D51;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}










/* Media - Break Points */









@media (max-width: 1199px) {
	.banner h1 {
	    font-size: 5vw;
	    letter-spacing: 6.5px; 
	}

	.mainContent .column img {
		margin-bottom: 10px;
	}

	.column .list {
		margin-top: 10px;
	}

	.right {
		width: 370px;
	}

	.left {
		width: calc(100% - 370px);
	}
/*
	.logo {
		max-width: 80%;
		margin: 0 auto;
		padding-left: 0;
		padding-right: 0;
		margin-left: 0;
		margin-right: 0;
	}

*/

	.logo img {
		width: 120px;
	}

	.column .title {
		min-height: 3.5rem;
	}

}




@media screen and (max-width: 1350px) and (min-width: 1300px) { 


	.contentText {
		padding: 0 35px;
	}


	}



@media (max-width: 1300px) {
	.banner h1 {
    font-size: 7vw;
    letter-spacing: 7.5px; 
    padding: 0 30px;
	}

/*
	.logo {
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
	}

	.logo {
		max-width: 75%;
		padding-top: 30px;
		padding-left: 0;
		padding-right: 0;
	}
*/

	.logo img {
		max-width: 110px;
	}

	.titleBanner {
    font-size: 2vw;    
    letter-spacing: 2.73px;
	}


    .description {
    font-size: 1.7vw;
    letter-spacing: 2px;
	}

	.subhead {
    max-width: 60%;
    margin: 0 auto;
	}

	/*.subContents p{
		font-size: 1.9vw;
	}*/

	.clickButton {
		font-size: 1.8vw;
	}

	.mainContent h1 {
		font-size: 2.5vw;
	}

	.mainContent .subDescription {
		font-size: 1.7vw;
		padding-left: 30px;
		padding-right: 30px;
	}

	.column img {
    	max-width: 200px;
	}

	.column .title {
		font-size: 1.8vw;
	}

	.column .list li {
		font-size: 1.7vw;
	}

	.information {
		padding: 0 30px;
	}


}


@media (max-width:  1331px) and (min-width: 1300px) {
	.bannerContent {
		padding-left: 50px;
		padding-right: 50px;
	}

	.banner h1 {
		font-size: 7em;
	}

	.titleBanner {
		font-size: 1.7em !important;
	}

	.logo img{
		max-width: 110px !important;
	} 
}


@media (max-width: 750px) { 

	.column img {
    	max-width: 210px;
	}

	.column .title {
		min-height: 1rem;
	}


}

@media screen and (max-width: 1300px) and (min-width: 1025px) {

	.mainContent h1 {
		font-size: 3.7vw;
	}

	}


@media (max-width: 800px){
	ul.list {
		max-width: 50%;
		margin: 0 auto !important;
	}
}


@media (max-width 1025px) {
	.column img {
		max-width: 160px;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1025px) {

	.mainContent .column {
		min-width: 100% !important;
		width: 100% !important;
		margin-top: 30px;
	}

	ul.list {
    max-width: 260px;
    margin: 0 auto !important;
    text-align: center;
	}

}





@media screen and (max-width: 800px) and (min-width: 530px) {

	.mainContent .column {
		min-width: 100% !important;
		width: 100% !important;
		margin-top: 30px;

	}

}


@media screen and (max-width: 1150px) and (min-width: 1024px) {

	.mainContent .column {
		min-width: 100% !important;
		width: 100% !important;
		margin-top: 30px;

	}

}


@media only screen and (max-width: 1024px){

	li.menu-item:nth-child(4){
		margin-bottom: 0;
	}

	li.menu-item:nth-child(5){
		margin-top: 0;
	}


	li.menu-item {
		padding-left: 0;
		padding-right: 0;
	}

	article.sidebar-item {
		position: relative;
	} 

	.wrapper {
		display: block;
	}
	.left {
		width: 100%;
		box-sizing: border-box;
	}
	.right {
		width: 100%;
		box-sizing: border-box;
	}

	.flex-container {
		display: flex;
	}

	.clickButton {
		font-size: 1.2em;
		padding: 10px;
	}

	.mainContent .columns {
		/*display: block;*/
		display: flex;
	}

	footer ul.menu {
    display: block;
	}

	.subContents {
		margin-top: 1em;
	}

	.subContents p {
		margin-top: 1.7em !important;
		margin-bottom: 1.7em !important;
	}

	p.secondText {
		margin-bottom: 0;
		padding-top: 0 !important;
	}

	.sidebarContents {
		position: relative;
	}

	.mainContent .column {
		width: 100%;
	}

	footer {
		position: relative;
		padding: 3.125em 0;
	}

	.banner h1 {
		margin-top: 0px;
		font-size: 5em;
	} 

	.titleBanner {
		font-size: 1.5em;
		letter-spacing: 0;
	}

	.description {
		font-size: 1em;
		letter-spacing: 0;
	}

	.bannerContent {
   		 padding: 0 30px
	}

	.mainContent {
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 1.375em;
	}

	.mainContent h1 {
		font-size: 3em;
		letter-spacing: 0.86px;
	}

	.mainContent .subDescription {
		font-size: 1.4em;
	}

	.mainContent .column img {
		margin-bottom: 10px;
	}

	.column .list li {
		line-height: 1.5;
	}
	.column .list {
		margin-top: 10px;
	}

	.information p {
		font-size: 1em;
	}

	.sidebarContents {
		padding-top: 2.5em;
		padding-bottom: 1em;
	}

	.secondText {
		padding-top: 1em !important;
	}
/*
	.logo img {
		width: 80px;
		margin-left: 40px;
	}

*/
	.information {
		margin-bottom: 40px;
	}

	li.menu-item {
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.subContents {
		max-width: 600px;
		margin: 0 auto;
	}

	
}



@media (max-width:  585px){
	ul.list {
		max-width: 70%;
	}
}


@media (max-width:  690px){
	.column {
		margin: 15px;
	}
}


@media screen and (max-width: 600px) and (min-width: 576px) {

	.column .title {
		font-size: 3vw;
	}

	.column .list li {
		font-size: 2.5vw	;
	}

} 

@media screen and (max-width: 575px) and (min-width: 360px) {

	.mainContent .subDescription, p.secondText, .subContents p, .information, .mainContent .column, .contentText {
		padding-left: 15px !important;
		padding-right: 15px !important;

	}

} 

@media screen and (max-width: 751px) and (min-width: 360px) {

	p.description {
		max-width: 100% !important;
		font-size: 1.2em;
	}

}

/*

@media (max-width:  850px){

	.logo img {
		margin-left: 0;
	}

}

*/

@media (max-width:  595px){

	.banner h1 {
		font-size: 4.7em;
	} 
/*
	.logo img {
		margin-left: 0;
	}

	*/

}

@media (max-width:  510px){

	ul.list {
		max-width: 100%;
	}

}


@media (max-width: 575px) {
	.logo img {
    width: 100px;
	}
	
	/*.banner h1 {
		padding: 0;
		font-size: 40px;
	}*/

	.subhead {
		max-width: 100%;
	}

	.titleBanner {
		font-size: 20px;
	}

	p.description {
		max-width: 100%;
	}

	.mainContent h1 {
		font-size: 35px;
	}

	.mainContent .subDescription {
		font-size: 19px;
	}

	.column .title {
		font-size: 25px;
	}

	.column .list li, .subContents p {
		font-size: 20px;
	}


	.column .title {
		min-height: 4rem;
	}

	.logo img {
		width: 80px;
		/*margin-left: 0;*/
	}
/*
	.logo {
		padding-top: 20px;
		max-width: 100%;
	}
*/

	.mainContent {
		padding-top: 2.375em;
	}


	.sidebarContents {
		padding-top: 2.5em;
		padding-bottom: 2em;
	}

	.subContents p {
		margin-bottom: 1.5em;
	}

	p.secondText {
		margin-bottom: 0;
	}

	.mainContent .subDescription, p.secondText, .subContents p, .information, .mainContent .column, .contentText {
		padding-left: 0;
		padding-right: 0;

	}


}

@media (max-width:  401px){
	.banner h1 {
		font-size: 2.5em;
		padding-left: 0;
		padding-right: 0;
	}

	.logo {
		padding-left: 0;
		padding-right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	svg {
		font-size: 0;
		height: 25px;
		margin-top: 10px !important;
		margin-bottom: 10px !important;
	}

	.logo img {
		width: 60px;
	} 

	p.subDescription {
		font-size: 19px !important;
	}


	.column .list li {
		font-size: 18px !important;
	}
}



@media (min-width:  1961px){
	.banner {
		background-size: 100% !important;
	}
}


@media (max-width:  345px) {
	.banner h1 {
		font-size: 2.2em;
	}

	.titleBanner {
		font-size: 18px;
	}

	.mainContent h1 {
		font-size: 30px;
	}
}


@media (max-width: 530px) and (min-width: 250px){

	.banner h1 {
		font-size: 2em !important;
	}

}


@media (max-width:  614px){
	.banner h1 {
		font-size: 4em;
	}
}


/*
@media (min-width: 1300px){
	.logo {
		min-width: 90%;
	}
}
*/


@media (max-width:  310px) {
	.column img {
		max-width: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {

	.mainContent .subDescription {
		margin-bottom: 20px;
	}

	.mainContent {
		padding-top:  3.375em;
		padding-bottom: 3.375em;
	}

}


@media (max-width: 800px) {
	.mainContent .subDescription {
		margin-bottom: 20px;
	}

	.mainContent {
		padding-top:  3.375em;
		padding-bottom: 3.375em;
	}
}



@media (min-width: 1300px) {
	.questions, .mainContent.secondContent {
		padding-left: 25px;
		padding-right: 25px;
	}


}

@media (max-width:  1321px){
	.subTitleBanner {
		margin-top: 80px;
		font-size: 1.7em;
		line-height: 25px;
	}

	.subBigTitleBanner {
		font-size: 3.3em;
		margin-top: 23px;
	}

	.subBanner .titleBanner {
		font-size: 1.4em !important;
	}

	.subBanner p.description {
		font-size: 1.5em;
	}

	.subPageContent .mainContent h1 {
		font-size: 3.3em;
	}
}

@media (max-width:  1160px){
	.subTitleBanner {
		font-size: 1.5em;
	}

	.subBigTitleBanner {
		font-size: 2.5em;
		line-height: 40px;
	}

	.subBanner .titleBanner {
		font-size: 1.3em !important;
		line-height: 20px;
	}

	.subBanner p.description {
		font-size: 1.2em;
		line-height: 20px;
	}

	.subPageContent .mainContent h1 {
		font-size: 3.0em;
	}
}



@media screen and (max-width: 1300px) and (min-width: 1024px) {

	.questions {
		padding: 0 50px;
	}

	.selectAllQuestions .cont{
		font-size: 1.5em;
	}

	.selectAllQuestions input[type="checkbox"] {
		transform: scale(1.5);
	}

	#selectQuestions .question .cont, .selectDefaultQuestions .question .cont{
		font-size: 18px;
	}

	#selectQuestions .question input[type="checkbox"], .selectDefaultQuestions .question input[type="checkbox"] {
		transform: scale(1.0);
	}

	#selectQuestions .question, .selectDefaultQuestions .question {
		height: 37px;
	}

	.mainContent.secondContent {
		padding-left: 30px;
		padding-right: 30px;
	}

}


@media (max-width: 1085px) {
	
	#selectQuestions .question .cont, .selectDefaultQuestions .question .cont{
		font-size: 16px;
	}

}

@media (max-width: 610px) {
	
	#selectQuestions .question .cont, .selectDefaultQuestions .question .cont{
		font-size: 14px;
	}

}


@media (max-width: 1024px) {
	.mainContent.secondContent {
		padding-bottom: 86px;
	}

	.subWrapper .mainContent {
		max-width: 750px;
	}

	.subWrapper p.subDescription {
		margin-bottom: 72px;
	}

}


@media (max-width: 575px) {
	.selectAllQuestions .cont{
		font-size: 1.2em;
	}

	.selectAllQuestions input[type="checkbox"] {
		transform: scale(1.0);
	}

	#selectQuestions .question input[type="checkbox"], .selectDefaultQuestions .question input[type="checkbox"] {
		transform: scale(1.0);
	}

	#selectQuestions .question, .selectDefaultQuestions .question {
		font-size: 0.9em;
	}

	#selectQuestions .question, .selectDefaultQuestions .question {
		height: 30px;
	}

}


